In [1]:
#Import required packages
import pandas as pd

In [ ]:
#Save display options for df
pd.options.display.max_colwidth = 200

In [2]:
#Read in excel file
orders_df = pd.read_excel("running_shoes.xlsx")

In [3]:
#Display the df
orders_df.head()

       Product ID,Category,Product,Size,Last Visited
0  AH2430,Women's,Blazing Trail Shoes,Size 9,2020...
1  G27341,Men's,Forest Trail Shoes,Size 11,2020-0...
2  CM0081,Women's,Swift Running Shoes,Size 7,2020...
3  B44832,Women's,Running Hard Shoes,Size 6,2020-...
4  D98205,Men's,Lite Racing Shoes,Size 10,2020-04...

In [4]:
#Check the data types + info
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Product ID,Category,Product,Size,Last Visited  10 non-null     object
dtypes: object(1)
memory usage: 208.0+ bytes

In [6]:
#Place the columns into a list
order_columns = orders_df.columns.tolist()

#Print list
order_columns

['Product ID,Category,Product,Size,Last Visited']

In [8]:
#Split the columns into elements
#Set new list to receive data
new_order_columns = []

#Create for loop to split the column names by comma
for i in order_columns:
    new_order_columns.append(i.split(","))

#Print the result
new_order_columns

[['Product ID', 'Category', 'Product', 'Size', 'Last Visited']]

In [9]:
#Place each row of data into a list
order_rows = orders_df.values.tolist()

#Print list
order_rows

[["AH2430,Women's,Blazing Trail Shoes,Size 9,2020-04-13T15:06:15"],
 ["G27341,Men's,Forest Trail Shoes,Size 11,2020-04-13T15:06:18"],
 ["CM0081,Women's,Swift Running Shoes,Size 7,2020-04-13T15:06:20"],
 ["B44832,Women's,Running Hard Shoes,Size 6,2020-04-13T15:06:23"],
 ["D98205,Men's,Lite Racing Shoes,Size 10,2020-04-13T15:06:26"],
 ["B75586,Men's,Running Rebound Shoes,Size 12,2020-04-13T15:06:30"],
 ["CG4051,Women's,Inspired Victory Shoes,Size 8,2020-04-13T15:06:33"],
 ["CM0080,Women's,Responsive Trail Shoes,Size 9,2020-04-13T15:06:36"],
 ["B75990,Men's,Energy Boost Running Shoes,Size 13,2020-04-13T15:06:40"],
 ["EE5761,Men's,Pure Bouncer Running Shoes,Size 9,2020-04-13T15:06:45"]]

In [11]:
#Split the rows into columns
#Set new list to receive data
new_order_rows = []

#Create for loop to split the column names by comma
for i in order_rows:
    new_order_rows.append(i[0].split(","))

#Print the result
new_order_rows

[['AH2430', "Women's", 'Blazing Trail Shoes', 'Size 9', '2020-04-13T15:06:15'],
 ['G27341', "Men's", 'Forest Trail Shoes', 'Size 11', '2020-04-13T15:06:18'],
 ['CM0081', "Women's", 'Swift Running Shoes', 'Size 7', '2020-04-13T15:06:20'],
 ['B44832', "Women's", 'Running Hard Shoes', 'Size 6', '2020-04-13T15:06:23'],
 ['D98205', "Men's", 'Lite Racing Shoes', 'Size 10', '2020-04-13T15:06:26'],
 ['B75586',
  "Men's",
  'Running Rebound Shoes',
  'Size 12',
  '2020-04-13T15:06:30'],
 ['CG4051',
  "Women's",
  'Inspired Victory Shoes',
  'Size 8',
  '2020-04-13T15:06:33'],
 ['CM0080',
  "Women's",
  'Responsive Trail Shoes',
  'Size 9',
  '2020-04-13T15:06:36'],
 ['B75990',
  "Men's",
  'Energy Boost Running Shoes',
  'Size 13',
  '2020-04-13T15:06:40'],
 ['EE5761',
  "Men's",
  'Pure Bouncer Running Shoes',
  'Size 9',
  '2020-04-13T15:06:45']]

In [36]:
#Create a new df split into columns
new_orders_df = pd.DataFrame(new_order_rows, columns=new_order_columns[0])

#Check the df
new_orders_df

,Product ID,Category,Product,Size,Last Visited
0,AH2430,Women's,Blazing Trail Shoes,Size 9,2020-04-13T15:06:15
1,G27341,Men's,Forest Trail Shoes,Size 11,2020-04-13T15:06:18
2,CM0081,Women's,Swift Running Shoes,Size 7,2020-04-13T15:06:20
3,B44832,Women's,Running Hard Shoes,Size 6,2020-04-13T15:06:23
4,D98205,Men's,Lite Racing Shoes,Size 10,2020-04-13T15:06:26
5,B75586,Men's,Running Rebound Shoes,Size 12,2020-04-13T15:06:30
6,CG4051,Women's,Inspired Victory Shoes,Size 8,2020-04-13T15:06:33
7,CM0080,Women's,Responsive Trail Shoes,Size 9,2020-04-13T15:06:36
8,B75990,Men's,Energy Boost Running Shoes,Size 13,2020-04-13T15:06:40
9,EE5761,Men's,Pure Bouncer Running Shoes,Size 9,2020-04-13T15:06:45

Alternate Method; 1 line only!

In [15]:
#Create an empty dataframe
quick_orders_df = pd.DataFrame()

#Use .str.split() to split data
quick_orders_df[['Product ID', 'Category', 'Product', 'Size', 'Last Visited']] = orders_df['Product ID,Category,Product,Size,Last Visited'].str.split(",", n=5, expand=True)

#Check df
quick_orders_df

,Product ID,Category,Product,Size,Last Visited
0,AH2430,Women's,Blazing Trail Shoes,Size 9,2020-04-13T15:06:15
1,G27341,Men's,Forest Trail Shoes,Size 11,2020-04-13T15:06:18
2,CM0081,Women's,Swift Running Shoes,Size 7,2020-04-13T15:06:20
3,B44832,Women's,Running Hard Shoes,Size 6,2020-04-13T15:06:23
4,D98205,Men's,Lite Racing Shoes,Size 10,2020-04-13T15:06:26
5,B75586,Men's,Running Rebound Shoes,Size 12,2020-04-13T15:06:30
6,CG4051,Women's,Inspired Victory Shoes,Size 8,2020-04-13T15:06:33
7,CM0080,Women's,Responsive Trail Shoes,Size 9,2020-04-13T15:06:36
8,B75990,Men's,Energy Boost Running Shoes,Size 13,2020-04-13T15:06:40
9,EE5761,Men's,Pure Bouncer Running Shoes,Size 9,2020-04-13T15:06:45

Bit tedious that you have to write out the list strings... using variables doesn't work.

In [37]:
#Rename the columns
new_orders_df.rename(columns={
    "Product ID": "productID",
    "Category": "category",
    "Product": "product",
    "Size": "size",
    "Last Visited": "lastvisited"}, inplace=True)

#Check df
new_orders_df.head(2)

  productID category              product     size          lastvisited
0    AH2430  Women's  Blazing Trail Shoes   Size 9  2020-04-13T15:06:15
1    G27341    Men's   Forest Trail Shoes  Size 11  2020-04-13T15:06:18

You need to use inplace to ensure the original df is updated.

In [38]:
#Remove the word 'Size' & trailing whitespace from the Size values
new_orders_df["size"] = new_orders_df['size'].str.replace("Size ", "")

#Check df
new_orders_df.head(2)

  productID category              product size          lastvisited
0    AH2430  Women's  Blazing Trail Shoes    9  2020-04-13T15:06:15
1    G27341    Men's   Forest Trail Shoes   11  2020-04-13T15:06:18

In [39]:
#Check size data type
new_orders_df.dtypes

productID      object
category       object
product        object
size           object
lastvisited    object
dtype: object

In [40]:
#Change size column to integer data type
new_orders_df = new_orders_df.astype({"size": int}, errors='raise')

#Check change applied
new_orders_df.dtypes

productID      object
category       object
product        object
size            int64
lastvisited    object
dtype: object

In [41]:
#Convert 'lastvisited' data type to datetime
new_orders_df['lastvisited'] = pd.to_datetime(new_orders_df['lastvisited'])

#Check changes applied 
new_orders_df.dtypes

productID              object
category               object
product                object
size                    int64
lastvisited    datetime64[ns]
dtype: object

In [42]:
#View the final df
new_orders_df

  productID category                     product  size         lastvisited
0    AH2430  Women's         Blazing Trail Shoes     9 2020-04-13 15:06:15
1    G27341    Men's          Forest Trail Shoes    11 2020-04-13 15:06:18
2    CM0081  Women's         Swift Running Shoes     7 2020-04-13 15:06:20
3    B44832  Women's          Running Hard Shoes     6 2020-04-13 15:06:23
4    D98205    Men's           Lite Racing Shoes    10 2020-04-13 15:06:26
5    B75586    Men's       Running Rebound Shoes    12 2020-04-13 15:06:30
6    CG4051  Women's      Inspired Victory Shoes     8 2020-04-13 15:06:33
7    CM0080  Women's      Responsive Trail Shoes     9 2020-04-13 15:06:36
8    B75990    Men's  Energy Boost Running Shoes    13 2020-04-13 15:06:40
9    EE5761    Men's  Pure Bouncer Running Shoes     9 2020-04-13 15:06:45