In [1]:
import json
import requests
import pandas as pd

In [9]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo', \
              'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold character's height and mass
height = []
mass = []
found_characters = []

# Loop through each character and make API request
for i in search_characters:
    try:
    # Create search query, make request and store in json
        query = requests.get(url + i).json()

    # Try to grab the height and mass of characters if they are available in the Star Wars API
        height.append(query["results"][0]["height"])
        mass.append(query["results"][0]["mass"])
        found_characters.append(i)
        
    # Handle exceptions for a character that is not available in the Star Wars API
    except IndexError:
        print(f'Oh no! {i} could not be found in the database')

Oh no! Godzilla could not be found in the database
Oh no! Frodo could not be found in the database
Oh no! Iron Man could not be found in the database
Oh no! Jon Snow could not be found in the database

In [11]:
# Create DataFrame
character_dict = {
    "Name": found_characters,
    "Height (cm)": height,
    "Mass (kg)": mass
}

character_df = pd.DataFrame(character_dict)
character_df

             Name Height (cm) Mass (kg)
0           R2-D2          96        32
1     Darth Vader         202       136
2  Luke Skywalker         172        77
3       Boba Fett         183      78.2
4        Han Solo         180        80